@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
    padding: 0px;
    margin: 0px;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    width: 100vw;
    height: auto;
    background: #212125;
    overflow-x: hidden;
}

/* Typographic Styles */

.typography-heading {
    font-size: 3rem;
    line-height: 1.5;
    font-weight: 700;
}

.typography-label {
    font-size: 1rem;
    line-height:1.5;
    font-weight: 600;
}

.typography-label-large {
    font-size: 1.5rem;
    line-height: 1.5;
    font-weight: 600;
}

.typography-title {
    font-size: 1rem;
    line-height: 1.75;
    font-weight: 700;
}

.body {
    font-size: 1rem;
    line-height: 1.75;
    font-weight: 500;
}

/* Globals */

a {
    display: block;
    color: white;
    text-decoration: none;
}

a:hover {
    cursor: pointer; 
    color: #D4D4D8;
}

p {
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin: 0px;
}

h1 {
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin: 0px;
}

ul {
    margin-left: auto;
    list-style-type: none;
}

section {
    max-width: 100%;
    padding: 124px 128px;
}

section > div {
    max-width: 100%;
}

button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 16px 32px;
    gap: 8px;
    height: 56px;

    background: linear-gradient(91.7deg, #566FC8 0.81%, #4E53D7 98.85%);
    color: white;

    border: none;
    border-radius: 56px;

    cursor: pointer;
}

i {
    font-size: 24px;
}

.solid-hr {
    width: 100%;
    border-top: 1px solid #D4D4D8;
}

/* Header */

header {
    max-width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    height: 112px;
    left: 0px;
    right: 0px;
    top: 0px;

    background: rgba(33, 33, 37, 0.5);
    backdrop-filter: blur(22.5px);

    flex: none;
    order: 7;
    flex-grow: 0;
    z-index: 7;
}

header .logo,
header nav {
    padding: 32px 128px;
}

.logo {
    width: 168px;
    height: 48px;
    text-align: center;
}

/* Menu Navigation */

.menu-slideover {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    padding: 48px 24px;
    gap: 16px;
    isolation: isolate;

    position: fixed;
    width: 400px;
    height: 100vh;

    top:0px;
    right:-400px;

    background: #FFFFFF;
    z-index: 200;
}

.menu-slideover ul {
    width: 100%;
}

.link {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 18px 24px;
    gap: 8px;

    width: 100%;
}

.link a {
    color: #6E6F7C;
}

.link a:hover {
    color: #212125;
}

.close {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px;

    color: white;

    position: absolute;
    width: 68px;
    height: 68px;
    left: -84px;
    top: 48px;

    cursor: pointer;
}

/* Scrim */

.scrim {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.5);
    z-index: 100;
}

/* Side Navigation */

.side-nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 64px;

    position: fixed;
    width: 66px;
    height: 288px;
    right: 88px;
    top: calc((100vh - 288px) / 2);

    z-index: 100;
}

.side-nav ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;
}

.side-nav li {
    height: 48px;
}

.side-nav a {
    height: 48px;
}

/* Hero */

.hero {
    padding: 256px 128px 144px;
    position: relative;
    color: white;
}

.hero .content {
    position: relative;
    width: 681px;
    z-index: 2;
}

.hero .content div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
}

.hero img {
    position: absolute;
    width: 682.75px;
    height: 682.75px;
    left: 320px;
    top: 80px;
    z-index: 1;
}

.hero-heading span {
    color: #8185FF;
}

/* About me */

.about-me {
    padding: 124px 128px;
    color: white;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 48px;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.about-me .row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;

    width: 90%;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.stats-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 32px;
    isolation: isolate;

    width: 278px;

    background: #2C2C32;
    border-radius: 16px;

    position: relative;

    overflow:hidden;
}

.stats-card p {
    color: #A8A9B0;
}

.stats-card i {
    font-size: 96px;
    color: #535353;

    position: absolute;
    right: -24px;
    top: -24px;
}

.about-me > p {
    width: 90%;
    color: #D4D4D8;
}

/* Footer */

footer {
    max-width: 100%;

    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 124px 128px;
    gap: 80px;
}

footer ul {
    display: inline-block;
    vertical-align: top;
}

.social-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 80px;

    width: 100%;
}

.social-links ul {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    margin: 0px;
    gap: 32px;
}

.contact-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 64px;
}

.contact-content ul {
    margin: 0px;
    padding: 0px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
}

.contact-content ul li {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 16px;
}

footer a {
    color: #42434A;
}

/* My UX Skills section coded using CSS flex */

.my-skills {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 144px;
    color: white;
    background-color: #2C2C32;
}

.my-skills > div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
}

.my-skills .row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 48px;
}

.my-skills .rows {
    width: 882px;
}

.my-skills .row > p {
    width: 33%;
    color: #D4D4D8;
}

.skill-card {
    width: 96px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 8px;
}

.card-background {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 96px;
    height: 96px;
    background-color: #42434A;
    border-radius: 8px;
}

.skill-card > p {
    color: #D4D4D8;
    text-align: center;
}

/* My Work Section Constructed using CSS Grid */

.my-work {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 64px;
    color: white;
}

.my-work .project-grid {
  display: grid;
  grid-template-columns: repeat(2, 430px);
  grid-template-rows: repeat(2, auto);
  grid-column-gap: 24px;
  grid-row-gap: 64px;
}

.project-card {
  width: 430px;
  height: auto;
}

.project-card img {
  width: 100%;
  height: 240px;
}

.project-card > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
}

.project-card > div > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
}

.project-card p {
    color: #A8A9B0;
}


/* mobile */

@media only screen and (max-width: 600) {
    .my-skills .row {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 48px;
    }

    .my-work .project-grid {
        display: grid;
        grid-template-columns: repeat(1, 430px);
        grid-template-rows: repeat(4, auto);
        grid-column-gap: 24px;
        grid-row-gap: 64px;
      }
}